
Responsive layout - makes a two column-layout instead of four columns
/* @media screen and (max-width: 800px) { */
    /* .img-gallery { */
      /* flex: 50%; */
      /* max-width: 50%; */
    /* } */
  /* } */
/*    */
  Responsive layout - makes the two columns stack on top of each other instead of next to each other
  /* @media screen and (max-width: 600px) { */
    /* .img-gallery { */
      /* flex: 100%; */
      /* max-width: 100%; */
    /* } */
  /* } */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f8f4f4;

}
/* img { */
    /* float: left; */
    /* width: 100px; */
    /* height: 100px; */
    /* object-fit: cover; */
    /* } */
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    grid-auto-flow: dense;
    padding: 1rem;
}

.img-gallery img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-35deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(94, 97, 115, 0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgb(45, 45, 45);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}