{% extends 'base.html' %}

{% block content %}

    <div class="about-section">
        <h1>About Top 5 Cars</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
      </div>
      
      <h2 style="text-align:center">Top 5 Cars Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="{{url_for('static',filename = 't5c_logo.jpg')}}" alt="Tarig" style="width:25%">
            <div class="container">
              <h2>Tarig Ahmed</h2>
              <p class="title">CEO & Founder, Designer, Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>Tarig@top5cars.com</p>
              <p><a href="{{ url_for('my_view.contact')}}"><button class="button">Contact</button></a></p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="{{url_for('static',filename = 't5c_logo.jpg')}}" alt="Tarig" style="width:25%">
              <div class="container">
                <h2>our Privacy Policy</h2>
                <p class="title">Privacy Policy</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Tarig@top5cars.com</p>
                <!-- <p><a href="{{ url_for('my_view.contact')}}"><button class="button">Contact</button></a></p> -->
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <img src="{{url_for('static',filename = 't5c_logo.jpg')}}" alt="Tarig" style="width:25%">
              <div class="container">
                <h2>our Terms of Service</h2>
                <p class="title">Terms of Service</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Tarig@top5cars.com</p>
                <!-- <p><a href="{{ url_for('my_view.contact')}}"><button class="button">Contact</button></a></p> -->
              </div>
        
          </div>
        </div>
      </div>
{% endblock %}