{% extends 'base.html' %}

{% block content %}

<div class="container-lg"> <!--100% wide until large breakpoint -->
    <div class="card" style="width: align-self: start, auto;">
        <img src=" {{url_for('static',filename = 'aet00.webp')}} " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Audi E-Tron GT</h5>
          <p class="card-text">The E-Tron GT, the second custom EV in the Audi lineup, is the most potent Audi Sport model to date in RS form. The E-Tron GT resembles the same concept car that was first displayed at the Frankfurt motor show in 2018 in terms of appearance, under-the-skin technology, and fundamental proportions. Its competitors include the Porsche it is so closely modelled after and the enduring Tesla Model S, which has recently undergone a slew of upgrades for the 2021 model year. The build quality and interior design of the Audi will be superior, and benefits greatly from its Supercharger network of fast public chargers.
            The RS E-Tron GT and the regular Quattro are the two available models. Both versions can travel nearly 300 miles on a single charge (although 200 miles is probably a safer bet if you even consider using that performance on tap), and thanks to 270kW charging, 63 miles can be poured back into the battery in just five minutes. The top-of-the-line version has more horsepower than any other Audi performance models. The battery, which is placed near to the road and in between the axles, accounts for a sizeable portion of the car's overall weight. It has a fantastic foundation for stable handling thanks to its low centre of gravity. But even when driven aggressively, the E-Tron GT maintains its composure, making it a superb all-arounder.
            Here, Audi wants to be as efficient as possible. It is incredibly sleek to create the least amount of air resistance while moving quickly. The new E-Tron GT, according to Audi, has one of the most aerodynamic body work currently on sale with a drag coefficient of just 0.24Cd. You should take note of the fact that this will result in less wind noise at high speeds and longer travel times on the highway.
            As would be expected, the ordinary car uses less energy, using 18.8–19.6kWh per 100km, compared to 19.–20.2kWh for the RS variant. The 93kWh battery pack is the same size for both the E-Tron and RS E-Tron GT (with a usable capacity of 85kWh). The E-Tron GT will work with the most recent rapid chargers, on both sides wings having convenient AC ports, while the right side has a quick DC port.
            Price range: new: £82,865 - £136,305 From £71,935 to £138,930 for used 2.9 to 3.1 miles per kWh of fuel economy, insurance 50 group, Miles per pound (mpp) 5.8–11.0,
            E-Tron models' prices range from £79,900 for the E-Tron GT Quattro to £106,000 for the E-Tron GT Quattro Vorsprung, $110,950 for the RS E-Tron GT, $124,540 for the RS E-Tron GT Carbon Black, and $133,340 for the RS E-Tron GT Vorsprung.
            </p>
          <a href="https://www.audi.co.uk/uk/web/en/models/etrongt/audi-e-tron-gt.html" class="btn btn-primary">Audi E-Tron GT</a>
        </div>
    </div>
</div>

 <div class="container-lg"> <!--100% wide until large breakpoint -->
    <div class="container">
        <div class="row">
          <div class="col">
            <!-- Column -->
            <div class="card" style="align-self: start, auto;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Best alternative option</h5>
                  <p class="card-text">The BMW i4 is a five-door coupe or a completely electric fastback executive vehicle. It's essentially an electric version of the BMW 4 Series Gran Coupe and wants to show that switching to an all-electric vehicle doesn't need any significant sacrifices from your current driving experience.
                    The BMW i4 is an electric vehicle, thus its operating costs are largely determined by where and how you charge it. The most affordable prices are when you charge at home, especially if your tariff offers you discounted rates for off-peak usage. In contrast, your prices will increase if you use expensive public charging. The i4's 83.9kWh battery has an approximate 80.7kWh useable capacity. As a result, the high-powered M50 model's stated range is up to 320 miles or up to 370 miles in the eDrive40.
                    The real-world range of the eDrive 40 is considerably better; when driven gently, you may travel more than 300 miles. We've observed an average of roughly 280 miles in more mixed driving. All i4s are equipped with a lightning-quick 205kW DC charger; however, at home, you're more likely to have access to a 7kW AC charger, which requires more than 12 hours to charge from 0% to 100%. While a conventional plug can take up to 43.5 hours, a faster 11kW AC takes 8.3 hours.
                    Our favourite in the lineup is the eDrive 40. It has a single electric motor driving the rear wheels, providing a respectable 340 horsepower, and can accelerate from 0 to 62 mph in just 5.7 seconds. </p>         
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
          </div>
          <div class="col">
            <!-- Column -->
            <div class="card" style="width: auto;">
                <img src="{{url_for('static',filename = 'bi44.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">BMW i4</h5>
                  <p class="card-text">Performance is seamless; the i4 accelerates quickly and smoothly, and power modulation is simple enough that even at high speeds, passengers are never jarred. 
                    The eDrive 40 has more than enough power available for overtaking, making it a great motorway cruiser as well. Absolutely. We believe the BMW i4 is one of the best EVs available today for those looking for a high-end electric vehicle but who don't want an SUV.
                    It feels both futuristic and comfortingly familiar where it matters, is a blast to drive, and has one of the longest electric ranges of any car this size.
                    New i4 price range: £53,480 to £65,795, Between £39,495 and £54,560 for used. Fuel Efficiency: 2.8 to 3.9 miles per kWh, Insurance: 35 to 43, and 7–12 miles per pound (mpp).
                     </p>
                  <a href="https://www.bmw.co.uk/en/all-models/bmw-i/i4/2021/bmw-i4-highlights.html" class="btn btn-primary">BMW i4</a>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}