<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename = 'gallery.css')}}">
    <title>Gallery</title>
</head>

<body>
<div class = "full-img" id="fullImgBox">
  <img src= " {{url_for('static',filename = 't5c_logo.jpg')}} " id="fullImg">
  <span onclick="closeFullImg()">X</span>
</div>
<div class = "img-gallery">
  <a href="{{ url_for('my_view.t5c')}}"><img  src=" {{url_for('static',filename = 't500.jpg')}} " onclick="openFullImg(this)"></a>
  <a href="{{ url_for('my_view.suv')}}"><img  src=" {{url_for('static',filename = 'mg02.png')}} " onclick="openFullImg(this)"></a>
  <a href="{{ url_for('my_view.suv')}}"><img  src=" {{url_for('static',filename = 'sj02.jpg')}} " onclick="openFullImg(this)"></a>
  <a href="{{ url_for('my_view.city')}}"><img  src=" {{url_for('static',filename = 'a1q1.jpg')}} " onclick="openFullImg(this)"></a>
  <a href="{{ url_for('my_view.city')}}"><img  src=" {{url_for('static',filename = 'f5e1.webp')}} " onclick="openFullImg(this)"></a>
  <a href="{{ url_for('my_view.coupe')}}"><img  src=" {{url_for('static',filename = 'aet01.jpg')}} " onclick="openFullImg(this)"></a>
  <a href="{{ url_for('my_view.coupe')}}"><img  src=" {{url_for('static',filename = 'bi42.jpg')}} " onclick="openFullImg(this)"></a>
  <a href="{{ url_for('my_view.hatchback')}}"><img  src=" {{url_for('static',filename = 'a3s0.jpg')}} " onclick="openFullImg(this)"></a>
  <a href="{{ url_for('my_view.hatchback')}}"><img  src=" {{url_for('static',filename = 'yc4.jpg')}} " onclick="openFullImg(this)"></a>
  <a href="{{ url_for('my_view.saloon')}}"><img  src=" {{url_for('static',filename = 'ms0.jpg')}} " onclick="openFullImg(this.src)"></a>
  <a href="{{ url_for('my_view.saloon')}}"><img  src=" {{url_for('static',filename = 'vp0.jpg')}} " onclick="openFullImg(this.src)"></a>
  <a href="{{ url_for('my_view.news')}}"><img  src=" {{url_for('static',filename = 't508.webp')}} " onclick="openFullImg(this.src)"></a>
</div>
<script>
  var fullImgBox = document.getElementById("fullImgBox");
  var fullImg = document.getElementById("fullImg");
  function openFullImg(pic){
    fullImgBox.style.display = "flex";
    fullImg.src = pic;
 }
 function closeFullImg(pic){
  fullImgBox.style.display = "none";
 }
</script>
<div id="footer">
  <p>| Top 5 Cars © 2022 | Top 5 Cars is cars review website, all rights reserved. | Privacy Policy | Terms of Service |</p>
</div> 
</body>
</html>