{% extends 'base.html' %}

{% block content %}

 <div class="container-lg"> <!--100% wide until large breakpoint -->
    <div class="card" style="width: align-self: start, auto;">
        <img src=" {{url_for('static',filename = 'mg01.jpg')}} " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mercedes-Benz G-Class AMG</h5>
          <p class="card-text">The Mercedes-Benz G-Class G63 AMG is the company's high-performance rendition of its venerable off-road vehicle.
            The G-Class was first introduced by Mercedes-Benz in 1979, and since then, it has undergone constant development to enhance both its performance and refinement.
            Although the G63 AMG version of the G-Class is primarily designed for performance enthusiasts, it still has a lot of the G-Class' off-road prowess. The robust off-roader also features a luxurious cabin, a tonne of equipment, and an intimidating appearance.
            
            The G63's engine is a 5.5-liter dual turbocharged V8. With a 537bhp power output, the Mercedes-Benz can accelerate from 0 to 62 mph in just 5.4 seconds, easily outpacing many other vehicles on the road.
            The G63 can be stopped only by the car's strong brakes. A sturdy ladder-style chassis, two strong axles, and a powerful four-wheel drive system are hidden beneath the vehicle's aggressive look. Its capabilities are further enhanced by a variety of electronic support devices. With an ambitious claimed average of 20.5 mpg, it isn't known for having consistently cheap operating costs. You'll quickly accumulate some really significant bills once you factor in the cost of upkeep, replacement tyres, and insurance.
            It isn't inexpensive by any means, but it new price range: £125,500–182,200, Between £88,690 to £200,410 for used
            Energy Efficiency 17.7 - 25.7 mpg, Road taxes ranged in price from £520 to 630.
            Group 50 insurance, miles per pound (mpp) 2.1 -2.9. PROS are Capability to travel off-road anywhere Indestructible quality, upscale appeal, an outstanding engine, a great interior, and a classic design make it a pleasure to drive on the road at high speeds in a straight line. And CONS are very pricey to purchase and maintain, and extravagant!
            
            isn't cheap, but the amount of equipment it includes helps to justify the price. Bluetooth, a sat-nav, heated leather seats, an electrically adjustable steering column, a media interface, a high-end radio, and climate control are all included as standard equipment. There are also numerous premium upgrades available. Modern options for the G63 AMG include ventilated seats, radar-guided cruise control, and a rear entertainment system. Customers can further customise the automobile with a variety of exterior and interior finish options.
            The high operating costs of the Mercedes-Benz G-Class G63 AMG are perhaps not a surprise. It is, after all, a high-end, high-performance off-road vehicle.
            Although its 5.5-litre twin-turbocharged V8 is optimistically stated to average 20.5mpg, you're more likely to get between 10-15mpg in daily driving. Given the cutting-edge AMG engine and the vehicle's 9-speed transmission, that sounds good, but the G63 AMG weighs 2,550kg and has truck-like aerodynamics. As a result, the G-economy Class's suffers because the engine must work very hard to keep it going.
            The performance of the Mercedes-Benz G-Class G63 AMG is outstanding in a straight line. A 4.0 and 5.5-litre twin-turbocharged V8 is wedged between the chassis rails of the G63 AMG. With a powerful growl, it propels the G-Class from 0 to 100 mph in 4.5 seconds while producing more than 537 horsepower and 760-850 Nm of pulling force. 
            A permanent four-wheel drive system, in combination with the G63 AMG's large tyres, helps transfer all that power to the ground and provides plenty of traction. AMG's nine-speed Speed-shift Plus automatic transmission shifts gears quickly and smoothly, and wheel-mounted paddles let you manually override the transmission if necessary.
            </p>
          <a href="https://www.mercedes-amg.com/en/vehicles/g-class/suv/g63.html" class="btn btn-primary">Mercedes-Benz G 63</a>
        </div>
    </div>
</div>

 <div class="container-lg"> <!--100% wide until large breakpoint -->
    <div class="container">
        <div class="row">
          <div class="col">
            <!-- Column -->
            <div class="card" style="width: align-self: start, auto;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Best alternative option</h5>
                  <p class="card-text">However, it is a very charming and enjoyable automobile, and there isn't much like it. This combined with its off-road prowess makes for a tempting combo.
                    Is the Mercedes-Benz G-Glass G63 still a competitive option to more contemporary vehicles like the Brabus customised G63 Suzuki Jimny. 
                    The Suzuki Jimny remarkable half-sized replica of the Brabus 800 G-Wagon has been sighted. In reality, the base vehicle is a Suzuki Jimny, a well-liked little off-road SUV.
                    The Suzuki Jimny is seen from the outside with a unique body modification with G-class door handles, Brabus insignia, V8 Biturbo badges, AMG rims, and side exhaust pipes. When you step inside, the interiors are decorated with quilted leather seats, a steering wheel with the B logo, and even star lights on the roof panels. They are all painted a vibrant orange colour. Brabus only services Mercedes-Benz automobiles.
                    </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
          </div>
          
          <div class="col">
            <!-- Column -->
            <div class="card" style="width: auto">
                <img src=" {{url_for('static',filename = 'sj01.jpg')}} " class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Suzuki Jimny G63</h5>
                  <p class="card-text">Price range: New: £33,879-£35,999; Used: £18,205-£29,845. Used monthly cost starting at £490
                    32.1 to 35.8 mpg in fuel economy, with a £165 road tax fee, insurance classes 13 and 14.
                    The Suzuki is anticipated to cost roughly £24,500 for the base model; with enhancements added, the price rises to around £38,000, which is still a fraction of the £323,999 Mercedes-Benz G-Class Brabus.
                    </p>
                  <a href="https://www.brabus.com" class="btn btn-primary"> BRABUS </a>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>

<!-- <footer>  -->
    <!-- <h5><p>| Top 5 Cars © 2022 | Top 5 Cars is cars review website, all rights reserved. | Privacy Policy | Terms of Service |</p></h5> -->
<!-- </footer> -->

{% endblock %}